---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <!-- Content -->

          {% if page.toc -%}
          <p-contents>
            <nav class="l-text figcaption">
            <h4>Contents</h4>
              {% for section in page.toc -%}
              <div><a href="#{{ section.name | slugify }}">{{ section.name }}</a></div>
              {% if section.subsections -%}
              <ul>
                {% for subsection in section.subsections -%}
                <li><a href="#{{ subsection.name | slugify }}">{{ subsection.name }}</a></li>
                {% endfor %}
              </ul>
              {%- endif -%}
              {%- endfor %}
              <hr>
            </nav>
          </p-contents>
          {%- endif %}

          {{ content }}
        </div>
